[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
pytest = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.12"
